html {
    font-family: lato, sans-serif;
}

body {
	font-family: Tahoma, Verdana, sans-serif;
}

.banner {
    background-color: CornflowerBlue;
    padding: 50px 0px 10px 50px;
	margin: -40px -10px 5px -10px;
}

ul {
    display: block;
    list-style-type: none;
    margin: auto;
    padding: 0;
    min-width: 535px;
}

.nav-bar {
    display: flex;
}

li {
    display: inline;

    padding: 8px;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #8bb3fc;
}

#first-nav-button {
    border-style: none solid none solid;
}

li:hover {
    background-color: #74A5FD;
    cursor: pointer;
}

a.nav-button {
    text-decoration: none;
    margin: 0px;
    color: black
}

a.nav-button:visited {
    color: black;
}

.page-left {
    margin: auto;
    width: 50%;
}

.page-right {
    margin: auto;
    width: 50%;
}

.index-divs {
    margin: 20px;
    padding: 10px 20px;
    border-style: solid none none solid;
    border-width: 1px;
}

#sectiontwo {
    background-color: rgb(1, 43, 82);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto -10px;
    padding: 5em auto auto auto;
}

#prologue-title {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 1em 0 0 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;

}

.prolo-text {
    padding: 0em 5em;
    width: 60%;
    
}

img.prolo-img {
    text-align: center;
    vertical-align: middle;
}

.prolo-img-div {
    padding: auto 2em;
    background-color: black;
}

#container-one {

}

#container-two {
    background-color: white;
    color:rgb(1, 10, 34);
}

#text-div-one {

}

#image-div-one {
    width: 40%;
}

